body {
  background-color: #f3aee7;
}

.btn {
  transition-duration: 0.4s;
  background-color: transparent;
  color: black;
}

.btn:hover {
  background-color: #2667ff;
  /* Green */
  color: rgb(83, 139, 123);
}

h1 {
 
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    color: #8970e4;
}

.table {
  border-style: double;
  border-width: 5px;
  border-color: #a73d90;

}

h3 {
  padding: 5px;

}

#scheduleList {
  font-family: "dico-code-one", mono;
  font-weight: 400;
  font-style: normal;
}

.form-group {
  font-family: "dico-code-one", mono;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

tr:nth-child(even) {
  background-color: hsl(323, 25%, 52%);
}

h3 {
   
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    color:#2667ff;
  }